
.App {
  text-align: center;
  background-color:#041420;opacity: .3;
  
}
#full_page{
  background-image:url(./IMAGES/backgroundImg.jpg);
  position: fixed;
	width: 100vw;
	height: 100vh;
	 background-image: url(./IMAGES/backgroundImg.jpg);
	 background-position: center center;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#AppBar{
  background-color:#041420;opacity: .3;
}

 #Drawer{
  /* background-color: #041420; */
} 